.comment {
    display: flex;
    padding: 0.5rem;
}

.commentProfileImage {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
    background: cornflowerblue;
    cursor: pointer;
}

.commentBody {
    display: flex;
    width: 88%;
    font-size: 0.9rem;
}

.commentName {
    color: black;
    font-weight: bold;   
    margin-right: 0.5rem;
    cursor: pointer;
}

.commentName:hover {
    text-decoration: underline;
}