.registerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.registerLogo {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.input {
    width: 90%;
    margin-left: 5%;
    border: none;
}

.input:focus {
    outline: none;
}