.uploadContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.uploadImageContainer {
    width: 475px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    background:#FAFAFA;
    border: 1px solid #e2e0e0;
    border-radius: 0.5rem;
}

.loader {
    position: absolute;
}

.uploadImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.uploadOptions:hover {
    opacity: 1;
}

.imageIcon {
    transform: scale(1.75);
    margin-bottom: 1rem;
    cursor: pointer;
}

.captionContainer {
    display: flex;
    color: rgb(41, 41, 41);
    border: 1px solid #e2e0e0;
    padding: 0.5rem;
    background: #FAFAFA;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.caption {
    background: #FAFAFA;
    width: 430px;
    height: 3rem;
    resize: none;
    outline: none;
    border: none;
    color: rgb(41, 41, 41) !important;
}

.caption::placeholder {
    color: rgb(41, 41, 41);
}

.caption:focus {
    outline: none;
}

.emojiPickerContainer {
    position: absolute;
    bottom: 25%;
}

.uploadForm {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.sendIt {
    background: #007B69;
    width: 80px;
    height: 40px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sendIt:hover {
    background: #00AE95;
}
  
@media (max-width: 495px)  {
    .uploadContainer {
        padding-top: 0;
    }
    .uploadImageContainer {
        width: 92.5vw;
        height: 92.5vw;
        margin-bottom: 2rem;
    }
    .caption {
        width: 80vw;
    }  
    .captionContainer {
        margin-bottom: 2rem;
    }
}