.postLargeContainer {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.postLargeImage {
    width: 40vw;
    height: 40vw;
    border-radius: 0.5rem 0rem 0rem 0.5rem; /* top left, top right, bottom right, bottom left */
}

.postLargeSideBar {
    width: 20vw;
    display: flex;
    flex-direction: column;
    background: rgb(41, 41, 41);
    color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.postSideBarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}

.postSideBarTopLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postSideBarProfileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

.postSideBarProfileName {
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.postSideBarProfileName:hover {
    text-decoration: underline;
}

.closeIcon {
    color: grey;
}

.postSideBarMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
}
.postCaption {
    margin-bottom: 0.75rem;
}

.postIconContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.postSideBarIcon {
    margin-right: 0.75rem;
}

.newCommentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
}

#newComment {
    width: 90%;
    margin-bottom: 0.75rem;
    resize: none;
}

#newComment:focus {
    outline: none;
}

.newCommentButton {
    width: 60px;
    height: 25px;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    background: rgb(116, 51, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    height: 76.5%;
    padding: 0.75rem;
    align-items: center;
    cursor: default;
}

.comments {
    width: 100%;
}