.loginContainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(163, 205, 233), rgb(54,69,79));
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    background: rgba(54,69,79, 0.6);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
}

.loginLogo {
    color: #e30b5d;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputField {
    margin: auto;
    width: 250px;
    height: 40px;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.input {
    width: 75%;
    margin-left: 5%;
    border: none;
}

.input:focus {
    outline: none;
}

.loginButton {
    width: 200px;
    height: 40px;
    border-radius: 0.5rem;
    background: #aa0846;
    color: white;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.loginButton:hover {
    background: #e30b5d;
}

.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 0.5rem;
    background: rgb(74, 147, 196);
    color: white;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.registerButton:hover {
    background: rgb(68, 133, 177);
}

.forgotLogin {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    color: white;
}

.forgotLogin:hover {
    text-decoration: underline;
}

