.feed {
    width: 100%;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.feedGridWrapper {
  display: grid;
}

.feedGrid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    width: 75%;
}

.feedGrid div {
    aspect-ratio: 1;
}

@media (max-width: 1250px)  {
  .feedGrid {
    width: 90%;
    min-width: 800px !important;
  }
}

@media (max-width: 825px)  {
    .feedGrid {
      width: 95%;
      grid-template-columns: 1fr 1fr;
      min-width: 600px !important;
    }
}

@media (max-width: 515px)  {
  .feed {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .feedGrid {
    width: 100%;
    grid-template-columns: 1fr;
    min-width: 200px !important;
  }
}