.homeContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background: rgb(241, 240, 240);
}

.sideBarContainer {
    width: 25%;
}

.feedContainer {
    width: 50%;
    overflow-y: scroll;
}

.rightBarContainer {
    width: 25%;
}

@media (max-width: 1095px)  {
    .sideBarContainer {
      visibility: hidden;
      width: 0;
    }
    .feedContainer {
        width: 75%;
    }
}

@media (max-width: 895px)  {
    .rightBarContainer {
      visibility: hidden;
      width: 0;
    }
    .feedContainer {
        width: 100%;
    }
}