.post {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid #e6e6e6
}

.postImg {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.postImgLoad {
  width: 30vw;
  height: 30vw;
  background: chocolate;
}

.profileImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.profileName {
  cursor: pointer;
  text-decoration: none;
  color: #262626;
  font-size: 0.9rem;
}

.profileName:hover {
  text-decoration: underline;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.25rem;
  background: white;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postBottomRight {
  display: flex;
  align-items: center;
  color: #262626;
}

.postIcon {
  color: #262626;
  width: fit-content;
  margin-left: 0.75rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.postIcon:hover {
  opacity: 1;
}
