.post {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

.postImg{
    /* width: 40vw;
    height: 40vw;
    min-width: 495px;
    min-height: 495px; */
    object-fit: cover;
}

/* @media (max-width: 1095px)  {
  .postImg {
    width: 595px;
    height: 595px;
  }
} */

.profileImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.profileName {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profileName:hover {
  text-decoration: underline;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.25rem
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postBottomRight {
  display: flex;
  align-items: center;
}

.postIcon {
  color: black;
  width: fit-content;
  margin-left: 0.75rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.postIcon:hover {
  opacity: 1;
}
