.post {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.postImg {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.postLink {
  width: 100%;
  height: 100%;
}

.profileImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.profileName {
  cursor: pointer;
  text-decoration: none;
  color: #424651;
  font-size: 0.9rem;
}

.profileName:hover {
  text-decoration: underline;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.25rem;
  background: rgb(241, 241, 241);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: 1px solid rgb(218, 218, 218);
}

.postBottomLeft {
  display: flex;
  align-items: center;
  width: fit-content;
}

.postBottomRight {
  display: flex;
  align-items: center;
  color: #424651;
}

.postIcon {
  color: #424651;
  width: fit-content;
  margin-left: 0.75rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.postIcon:hover {
  opacity: 1;
}
