.searchContainer {
    display: flex;
    width: 100%;
    color: white;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar {
    width: 400px;
    height: 30px;
    color: rgb(41, 41, 41);
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.search {
    width: 80%;
    border: none;
    font-size: 1rem;
    background: none;
    color: rgb(41, 41, 41);
}

.search::placeholder {
    color: rgb(41, 41, 41);
}

.search:focus {
    outline: none;
}