.navBarContainer {
    height: 50px;
    width: 100%;
    background-color: rgb(84, 146, 84);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .navBarLeft {
    flex: 2.5;
  }

  .navBarCenter {
    flex: 5;
  }

  .navBarRight {
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .searchbar {
    margin: auto;
    width: 75%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }

  .searchIcon {
      margin-left: 5%;
      color: grey;
  }
  
  .searchInput {
    border: none;
    width: 70%;
    margin-left: 5%;
  }

  .searchInput:focus {
    outline: none;
  }

  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    cursor: pointer;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }