

.sideBar {
    width: 100%;
    position: sticky;
    left: 0;
    top: 50px;
}

.sideBarListWrapper {
    padding: 20px;
}
  
.sideBarList {
    padding: 0;
    margin: 0;
    list-style: none;
    color: rgb(176, 176, 176);
}
  
.sideBarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    transition: color 0.2s ease-in-out;
    cursor: default;
}

.sideBarListItem:hover {
    color: white;
}
  
.sideBarIcon {
    margin-right: 15px;
}