.profileContainer {
    width: 70%;
    min-width: 1008px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileHeader {
    width: 97.5%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profileHeaderPhoto {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileInfoTop {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.profileHeaderName {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.followButton {
    width: 90px;
    height: 30px;
    background: rgb(116, 51, 168);
    border-radius: 0.25rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.followButton:hover {
    background: rgb(160, 70, 233)
}

.profileCounts {
    margin-bottom: 1rem;
}

.profileMetric {
    margin-right: 2.5rem;
}

.profileBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    width: 97.5%;
    align-items: center;
}

.profileBody div {
    aspect-ratio: 1;
}

.imgContainer {
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgInfo {
    width: 100%;
    height: 99%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(32, 32, 32, 0);
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} 

.imgInfo:hover {
    background: rgba(32, 32, 32, 0.5)
}

/* .imgIcon {
    ;
} */

.imgLikes {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-weight: bold;
}

.imgComments {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-weight: bold;
}

.imgMetrics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.imgInfo:hover .imgMetrics {
    opacity: 1;
}

@media (max-width: 980px)  {
    .profileContainer {
        width: 100%;
        min-width: 650px !important;
    }
}