.profileContainer {
    margin-top: 50px;
    display: flex;
}

.profileHeader {
    width: 20%;
    height: calc(100vh - 50px);
    margin-bottom: 5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    background: rgba(109, 106, 149, 0.6);
}

.profileHeaderPhotoContainer {
    height: 160px;
    width: 160px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.editOption {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    width: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.editAboutOption {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.profileHeaderPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.userProfileHeaderPhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.profileHeaderPhotoContainer:hover .editOption {
    opacity: 1;
}

.profileHeaderPhotoContainer:hover .userProfileHeaderPhoto {
    opacity: 0.7;
}

.updateOptions {
    display: flex;
}

.updateButton {
    width: 60px;
    height: 30px;
    color: white;
    background: rgb(54,69,79);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.updateButton:hover {
    opacity: 1
}

.updateAbout {
    resize: none;
    border: none;
}

.updateAbout:focus {
    outline: none;
    border: none;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profileInfoTop {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.profileHeaderName {
    font-size: 1.75rem;
}

.profileAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(189, 188, 188);
}

.profileAbout:hover .editAboutOption {
    opacity: 1;
}

.followButton {
    margin-left: 1rem;
    width: 90px;
    height: 30px;
    background: rgb(116, 51, 168);
    border-radius: 0.25rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.followButton:hover {
    background: rgb(160, 70, 233)
}

.profileCounts {
    margin-bottom: 1rem;
}

.profileMetric {
    margin-right: 1rem;
}

.profileBody {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    margin-left: 21%;
    padding-top: 1%;
    width: 75%;
    align-items: center;
}

.profileBody div {
    aspect-ratio: 1;
}

.imgContainer {
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.imgInfo {
    width: 100%;
    height: 99%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(32, 32, 32, 0);
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.25rem;
} 

.imgInfo:hover {
    background: rgba(32, 32, 32, 0.5)
}

/* .imgIcon {
    ;
} */

.imgLikes {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-weight: bold;
}

.imgComments {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-weight: bold;
}

.imgMetrics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.imgInfo:hover .imgMetrics {
    opacity: 1;
}

/* @media (max-width: 980px)  {
    .profileContainer {
        width: 100%;
        min-width: 650px !important;
    }
} */