.profileContainer {
    width: 75%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profileHeader {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profileHeaderPhoto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileHeaderName {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.profileCounts {
    margin-bottom: 1rem;
}

.profileMetric {
    margin-right: 2.5rem;
}

.profileBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    width: 100%;
}

.profileBody div {
    aspect-ratio: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 980px)  {
    .profileContainer {
        width: 100%;
        min-width: 650px;
    }
    .profileHeader {
        width: 95%;
    }
    .profileBody {
        width: 95%;
    }
}