.rightBar {
    width: 100%;
    position: sticky;
    right: 0;
    top: 50px;
}

.rightBarWrapper {
    padding: 20px;
}

.rightBarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.rightBarFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    width: fit-content;
    cursor: pointer;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarFriend:hover {
    text-decoration: underline;
}
  
.rightbarProfileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
