.post {
    margin: auto;
    margin-top: 30px;
    background: white;
    display: flex;
    width: fit-content;
  }

.postWrapper {
    padding: 10px;
}

.postImg{
    width: 40vw;
    height: 40vw;
    min-width: 495px;
    min-height: 495px;
    background-image: linear-gradient(rgb(149, 149, 207), rgb(62, 53, 92));
    object-fit: cover;
}

@media (max-width: 1095px)  {
  .postImg {
    width: 595px;
    height: 595px;
  }
}

.postTop {
  display: flex;
  justify-content: space-between;
  padding-top: calc(1rem - 10px);
  padding-bottom: 1rem;
  align-items: center;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postTopIcon {
  color: rgb(134, 133, 133);
  transform: scale(1.1);
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: mediumpurple;
  margin-right: 0.75rem;
}

.postBottom {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: calc(1rem - 10px);
}

.postIcon {
  margin-right: 0.75rem;
  color: rgb(134, 133, 133);
  transform: scale(1.1)
}
