.post {
    margin: auto;
    margin-top: 30px;
    background: rgb(41, 41, 41);
    display: flex;
    width: fit-content;
    border-radius: 0.5rem;
  }

.postImg{
    width: 40vw;
    height: 40vw;
    min-width: 495px;
    min-height: 495px;
    background-image: linear-gradient(rgb(149, 149, 207), rgb(62, 53, 92));
    object-fit: cover;
}

@media (max-width: 1095px)  {
  .postImg {
    width: 595px;
    height: 595px;
  }
}

.postCaption {
  padding: 1rem 0 0 1rem
}

.postTop {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postIconRight {
  color: rgb(134, 133, 133);
  transform: scale(1.1);
  transition: color 0.2s ease-in-out;
}

.postIconRight:hover {
  color: white;
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: mediumpurple;
  margin-right: 0.75rem;
  object-fit: cover;
}

.profileName {
  cursor: pointer;
}

.profileName:hover {
  text-decoration: underline;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.postBottomLeft {
  display: flex;
}

.postIcon {
  width: fit-content;
  margin-right: 0.75rem;
  color: rgb(134, 133, 133);
  transform: scale(1.1);
  transition: color 0.2s ease-in-out;
}

.postIcon:hover {
  color: white;
}
