@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.navBarContainer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #1f5164;
}

.navBarLeft {
   flex: 3;
}

.navBarCenter {
    flex: 4;
    display: flex;
    justify-content: center;
}

.navBarRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding-right: 1.25rem;
}

.navMenuContainer {
    width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    background: rgb(39, 39, 39);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.navMenu {
    list-style: none;
    width: 100%;
    padding: 0;
    color: white;
    cursor: pointer;
}

.navMenuOption {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.bottomOption {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.navMenuOption:hover {
  background: rgb(58, 58, 58);
}

.navMenuIcon {
    margin-right: 0.5rem;
}

.logo {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    margin-left: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.navBarIcons {
    display: flex;
    justify-content: space-around;
    width: 300px;
}
  
.navBarIconItem {
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.navBarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 1rem;
}

.navBarIconItem:hover {
    opacity: 1;
}

@media (max-width: 515px)  {
    .navBarLeft {
      flex: 1;
    }
    .navBarRight {
      flex: 1.4;
    }
    .navBarIcons {
      width: 200px;
    }
    .navBarImg {
      margin-right: 0.25rem;
    }
}

@media (max-width: 450px)  {
    .navBarContainer {
      justify-content: center;
    }
    .navBarLeft {
      display: none;
    }
    .navBarCenter {
      flex: none;
    }
    .navBarRight {
      flex: none;
      position: absolute;
      right: 0.5%;
      justify-content: center;
      padding-right: 0;
    }
}

@media (max-width: 300px)  {
    .navBarIcons {
      width: 160px;
    }
    .navBarImg {
      display: none;
    }
}