@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navBarContainer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #007B69;
  }

  .navBarLeft {
    flex: 3;
  }

  .navBarCenter {
    flex: 4;
    display: flex;
    justify-content: center;
  }

  .navBarRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    padding-right: 1.25rem;
    position: relative;
  }

  .navMenuContainer {
    width: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    top: 39px;
    right: 0;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
  }

  .navMenu {
    list-style: none;
    width: 100%;
    padding: 0;
    color: rgb(221, 221, 221);
    cursor: pointer;
  }

  .navMenuOption {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
  }

  .navMenuOption:hover {
    color: white;
  }

  .navMenuIcon {
    margin-right: 0.5rem;
  }

  .logo {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    margin-left: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .navBarIcons {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
  
  .navBarIconItem {
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }

  .navBarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 1rem;
  }

  .navBarIconItem:hover {
    opacity: 1;
  }

  @media (max-width: 450px)  {
    .navBarContainer {
      justify-content: center;
    }
    .navBarLeft {
      display: none;
    }
    .navBarIcons {
      width: 200px;
    }
    .navBarCenter {
      flex: none;
    }
    .navBarRight {
      flex: none;
      position: absolute;
      right: 0.5%;
      justify-content: center;
      padding-right: 0;
    }
    .navBarImg {
      margin-right: 0.25rem;
    }
  }

  @media (max-width: 300px)  {
    .navBarIcons {
      width: 160px;
    }
    .navBarImg {
      display: none;
    }
  }