.rightBar {
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    right: 0;
    top: 50px;
}

.rightBarWrapper {
    padding: 20px;
}

.rightBarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightBarFriendsList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
